---
layout: radar
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="wrapper">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    </div>
  </header>
  <div data-radar="{{ page.data_radar }}"></div>
  <div class="post-content" itemprop="articleBody">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
  <footer>
    <div class="wrapper">
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </div>
  </footer>

</article>
